#textdomain wesnoth-The_Dark_Hordes

# wmllint: local spelling Nati

[scenario]
    id="02_Brother_Against_Brother"
    name= _ "Brother Against Brother"
    map_data="{~add-ons/The_Dark_Hordes/maps/02_Brother_Against_Brother.map}"
    next_scenario="03_Skull_of_Morgorath"
    {TURNS 29 26 22}

    {INTRO_AND_SCENARIO_MUSIC "revelation.ogg" "vengeful.ogg"}
    {EXTRA_SCENARIO_MUSIC "frantic.ogg"}

    {TDH_TRACK {JOURNEY_02_NEW}}

    {DAWN}
    {DAWN}
    {MORNING}
    {AFTERNOON}
    {DUSK}
    {DUSK}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {FIRST_WATCH}
    {SECOND_WATCH}
    {SECOND_WATCH}
    {SECOND_WATCH}

    current_time=4

    [event]
        name=prestart
        [objectives]
            side=1
            [objective]
                condition=win
                description=_ "Defeat your brother Nati Ha’atel"
            [/objective]
            [objective]
                condition=lose
                description=_ "Death of Gwiti Ha’atel"
            [/objective]
            [objective]
                condition=lose
                description=_ "Death of Susanne"
            [/objective]
            {TURNS_RUN_OUT}
            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
            [note]
                description=_ "The schedule is 12 turns."
            [/note]
        [/objectives]
    [/event]

    [side]
        type=Initiate
        id="Gwiti Ha'atel"
        name= _ "Gwiti Ha’atel"
        side=1
        canrecruit=yes
        controller=human
        unrenamable=yes
        facing=sw
        {GOLD 140 120 100}
        {INCOME 4 2 0}
        user_team_name= _ "team_name^Gwiti"
        {FLAG_VARIANT undead}
    [/side]

    [side]
        type=Deathmaster
        id="Nati Ha'atel"
        profile="portraits/nati-deathmaster.png"
        name= _ "Nati Ha’atel"
        side=2
        canrecruit=yes
        facing=ne
        [modifications]
            [object]
                silent=yes
                [effect]
                    apply_to=image_mod
                    add=PAL(73697E,A3A7AB,D2BDA9 > 776B27,E4E483,D6D69C)
                [/effect]
            [/object]
        [/modifications]
#ifdef HARD
        recruit=Dark Adept,Ghost,Soulless,Vampire Bat,Revenant,Bone Shooter
#else
        recruit=Dark Adept,Ghost,Walking Corpse,Vampire Bat,Skeleton,Skeleton Archer
#endif
        {GOLD 80 120 200}
        {INCOME 2 4 10}
        user_team_name= _ "team_name^Nati"
        [ai]
            aggression=0.8
            caution=0.2
            grouping=offensive
        [/ai]
        {FLAG_VARIANT undead}
    [/side]

    {STARTING_VILLAGES 1 6}
    {STARTING_VILLAGES 2 10}

    [event]
        name=prestart
        {NEED_SUSANNE (x,y,facing=13,7,sw)}
    [/event]

    [event]
        name=start

        [message]
            speaker=Susanne
            message= _ "Master, no small amount of time has passed since we left the beach and began our march... but I sense that there is something foul in the air in this wasteland. Could it be just an illusion created by my tired mind or?"
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Before you question your own thinking, take a closer look to the south. With the setting sun, another encampment stretches out before our very eyes — and I cannot forbid myself to feel something nostalgic, something familiar. Do you not agree, my brother?"
        [/message]
        [message]
            speaker="Nati Ha'atel"
            message= _ "Ah, my loathsome brother, my greatest arch-rival. I had no idea that we were destined to meet again in this land. I am now experiencing something akin to irony."
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Everything is as the gods lead, as fate intended. Our ritual at Erzen... offering this life to the darkness, was not perfect. One might even say it failed. However, we have remained alive and stand here today. And we know that there is only one of us worthy to conquer everything."
        [/message]
        [message]
            speaker="Nati Ha'atel"
            message= _ "So, do you think that one is you? Do you think you can prove it here and right now? Then you are even more of a fool than I thought. You have always been arrogant, unwise, and nothing but an encumbrance to me."
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Be careful how you address me, brother. Now die and be destroyed... once and for all."
        [/message]
        [message]
            speaker="Nati Ha'atel"
            message= _ "To prevent that, I will confront you with all the power I have. I have always been the strongest among us. Why not flee now to your miserable lair? Before I strip you of your nasty hide and turn you into a carpet."
        [/message]

        [animate_unit]
            [filter]
                id="Nati Ha'atel"
            [/filter]
            flag=attack
            hits=no
            [primary_attack]
                range=ranged
            [/primary_attack]
        [/animate_unit]
        {GENERIC_UNIT 2 ({ON_DIFFICULTY (Skeleton Archer) (Skeleton Archer) (Bone Shooter)}) 10 24}
#ifdef HARD
        [modify_unit]
            [filter]
                side=2
                type=Bone Shooter
                x,y=10,24
            [/filter]
            [object]
                duration=scenario
                [effect]
                    apply_to=loyal
                [/effect]
            [/object]
        [/modify_unit]
#endif

        [animate_unit]
            [filter]
                id="Nati Ha'atel"
            [/filter]
            flag=attack
            hits=yes
            [primary_attack]
                range=ranged
            [/primary_attack]
        [/animate_unit]
        {GENERIC_UNIT 2 ({ON_DIFFICULTY (Skeleton Archer) (Bone Shooter) (Bone Shooter)}) 17 23}

        {DELAY 500}

        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Don’t be silly, I’m not even hairy enough to be a carpet! Your scalp, however, would make a good pillow to bring me some comfort."
        [/message]

        [animate_unit]
            [filter]
                id="Gwiti Ha'atel"
            [/filter]
            flag=attack
            [primary_attack]
                range=ranged
            [/primary_attack]
        [/animate_unit]

        {DELAY 75}

        [message]
            speaker=Susanne
            message= _ "Master, I wonder. It would be hard for even the greatest clown to slay a brother and break the chains in the name of blood. I am not sure that this encounter will be a good news for our quest."
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Then, would you be willing to sacrifice yourself for the sake of some cockamamie brotherhood? If you were in the same boat, would you really do so? You already know very well that a family is an impermanent collective. Besides, the war against him has already begun... since Erzen, or even much longer."
        [/message]
    [/event]

    # TODO: Dialogue when Nati recruits Dark Adept

    # Grant a bonus if the bats are protected in the first scenario
    [event]
        name=recall
        first_time_only=no
        [filter]
            side=1
            type=Vampire Bat
        [/filter]
        [if]
            [has_achievement]
                content_for=the_dark_hordes
                id=tdh_bats
            [/has_achievement]
            [then]
                [fire_event]
                    name=vampire dialogue
                [/fire_event]
#ifndef HARD
                {ADVANCE_UNIT (x,y=$x1,$y1) (Blood Bat)}
#endif
            [/then]
        [/if]
    [/event]
    [event]
        name=vampire dialogue

        [message]
            speaker=Susanne
            message= _ "Congratulations, master! Apparently, the bats have taken to you quite well. They shall be excellent scouts for our forces."
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Ha! Now even the sky will be under my mastery... Now go, little ones."
        [/message]
    [/event]

    [event]
        name=side 2 turn 5
        [message]
            speaker="Nati Ha'atel"
            message= _ "Your doom is almost upon your doorstep, brother! Come, perish now and serve as my shade."
        [/message]

        {QUAKE magic-dark-big.ogg}
        {QUAKE rumble.ogg}

        [gold]
            side=2
            {QUANTITY amount 40 60 90}
        [/gold]
    [/event]
    [event]
        name=side 1 turn 6
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "He summoned his mishmash of legions once again... with an intentional delay. What a strategist. In that defeat, he was the first to abandon me and try to flee, and his thought process has not altered at all since then. Let us discuss his deception, shall we not, girl?"
        [/message]
        [message]
            speaker=Susanne
            message= _ "Ah yes, I have no idea... but I just know that by whatever means he takes, I believe that our side shall emerge victorious. If not, how would the fate of we apprentices turn out otherwise?"
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Hmph... So you’re all just for yourselves, huh? I can only describe it as great."
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id="Gwiti Ha'atel"
        [/filter]
        [message]
            speaker=unit
            message= _ "Wait, this surely must be a mistake of gods. I cannot die yet — but I already have!"
        [/message]
        [message]
            speaker="Nati Ha'atel"
            message= _ "Did I not warn you with my own mouth? But your destruction will not be in vain, your bones and soul will serve me forever. Yes, from this moment on..."
        [/message]
        [message]
            speaker=unit
            message= _ "Now my luck is over... I am doomed."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Susanne
        [/filter]
        [message]
            speaker=unit
            message= _ "It hurts! A violent attack is upon me, my life is vanishing..."
        [/message]
    [/event]
    [event]
        name=die
        [filter]
            id=Susanne
        [/filter]

        {DELAY 75}

        [message]
            side=1
            type_adv_tree=Rogue Mage
            message= _ "Argh! Our princess has fallen because of the new incompetent leader! Our last hope is gone! All is lost!"
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Ah, how unfortunate. Now that I have lost her, the daughter of their former master, I am losing control over my apprentices. A little too soon..."
            scroll=no
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=last breath
        [filter]
            id="Nati Ha'atel"
        [/filter]

        {QUAKE rumble.ogg}

        {COLOR_ADJUST -14 -10 -10}

        [message]
            speaker=unit
            message= _ "Argh, am I... defeated? I have let myself be destroyed by a hateful brother who is inferior to me? I cannot believe it, but I know it’s real."
        [/message]

        {COLOR_ADJUST -18 -12 -12}

        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Yes, die, and face the Land of the Dead. If my journey goes on, and in the fullness of time, I may call upon your shade to serve me as my lackey. In the meantime, you must not fail to be well prepared."
            scroll=no
        [/message]

        [sound]
            name=wail-sml.wav
        [/sound]

        {COLOR_ADJUST -24 -14 -14}

        [message]
            speaker="Nati Ha'atel"
            message= _ "Haha, brother. I see now that our downfall has been in our veins since our birth. In your case, your luck has merely lasted a little longer. I will give you a curse and a revelation with the last of my might. You will be killed just as I am, doomed, and locked away in an endless dream...."
        [/message]
    [/event]
    [event]
        name=die
        [filter]
            id="Nati Ha'atel"
        [/filter]
        [message]
            speaker=Susanne
            message= _ "Well... he was not as powerful as I had expected."
        [/message]

        {COLOR_ADJUST -28 -16 -16}

        [message]
            speaker="Gwiti Ha'atel"
            message= _ "What a nonsense. I am eternal and always the winner, because the darkness is always next to me. Farewell, my brother. I believe that I no longer need to think about you."
        [/message]
        [message]
            speaker=narrator
            message= _ "... Gwiti... Gwiti Ha’atel."
            sound=wail-long.wav
            image=none
        [/message]

        {COLOR_ADJUST -32 -18 -18}

        {DELAY 250}

        [message]
            speaker="Gwiti Ha'atel"
            message= _ "The voice whispering to me? What the hell are you? Which darkness is trying to contact me..."
        [/message]
        [endlevel]
            result=victory
            bonus=yes
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]
    [event]
        name=victory
        [if]
            [variable]
                name=turn_number
                less_than_equal_to=14
            [/variable]
            [then]
                [set_achievement]
                    content_for=the_dark_hordes
                    id=tdh_doom
                [/set_achievement]
            [/then]
        [/if]
    [/event]

    #
    # Attack lines for Gwiti and Nati
    # Bats are generally weak so they are not counted
    #

    [event]
        name=last breath
        [filter]
            [not]
                type_adv_tree=Vampire Bat
            [/not]
        [/filter]
        [filter_second]
            id="Gwiti Ha'atel"
        [/filter_second]
        [message]
            speaker=second_unit
            message= _ "Perish, return to the dust!"
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            [not]
                type_adv_tree=Vampire Bat
            [/not]
        [/filter]
        [filter_second]
            id="Nati Ha'atel"
        [/filter_second]
        [message]
            speaker=second_unit
            message= _ "And by my own hands you destroyed!"
        [/message]
    [/event]

    [event]
        name=attack
        [filter]
            id="Gwiti Ha'atel"
        [/filter]
        [filter_second]
            [not]
                type_adv_tree=Vampire Bat
            [/not]
        [/filter_second]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "I am Gwiti the Mighty, prepare for your doom!"
        [/message]
    [/event]

    [event]
        name=attack
        [filter]
            id="Nati Ha'atel"
        [/filter]
        [filter_second]
            [not]
                type_adv_tree=Vampire Bat
            [/not]
        [/filter_second]
        [message]
            speaker="Nati Ha'atel"
            message= _ "Now you shall be ashes!"
        [/message]
    [/event]

    [event]
        name=turn 8
        [sound]
            name=wail.wav
        [/sound]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Wait... what’s this feeling? I sense something icy cold passing behind me. Is this a trap by my brother?"
        [/message]
        [message]
            speaker=Susanne
            message= _ "What, master? I hear nothing and see nothing."
            scroll=no
        [/message]
        [sound]
            name=wail-long.wav
        [/sound]
    [/event]
    [event]
        name=turn 9

        {EXTRA_SCENARIO_MUSIC "battle-epic.ogg"}

        [message]
            speaker="Nati Ha'atel"
            message= _ "Witness your final moments, you miserable wretch, know that it is only by my mercy that you look upon the sun again, for you shall die before it sets."
        [/message]
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "May I remind you that even as we speak, my undead legions are marching towards you?"
        [/message]
    [/event]
    [event]
        name=turn 13
        [message]
            speaker="Gwiti Ha'atel"
            message= _ "Now the burning sun is returning... once again. I shall have to slay him as swiftly as possible and go on my own way!"
        [/message]
    [/event]

    [event]
        name=time over
        [message]
            speaker="Nati Ha'atel"
            message= _ "Brother, you fought relatively well, but in the end you proved your own stupidity. I shall put an end to you right now, brace yourself!"
            scroll=no
        [/message]

        [animate_unit]
            [filter]
                id="Nati Ha'atel"
            [/filter]
            flag=attack
            hits=yes
            [primary_attack]
                range=ranged
            [/primary_attack]
        [/animate_unit]

        {DELAY 75}

        {SCATTER_UNITS 4 "Revenant,Skeleton,Bone Shooter,Dark Sorcerer" 0 x,y,radius=7,3,2 (
            side=2
            generate_name=yes
            random_traits=yes
            animate=yes
        )}

        {SCATTER_UNITS 4 "Deathblade,Skeleton Archer,Skeleton,Wraith" 0 x,y,radius=25,3,2 (
            side=2
            generate_name=yes
            random_traits=yes
            animate=yes
        )}

        {DELAY 250}

        [message]
            speaker="Gwiti Ha'atel"
            message= _ "I have failed, and his massive legions are surrounding me! Now my doom has almost reached me..."
            scroll=no
        [/message]
    [/event]
[/scenario]
