#textdomain wesnoth-The_Dark_Hordes

[textdomain]
    name="wesnoth-The_Dark_Hordes"
    path="data/campaigns/The_Dark_Hordes/translations"
[/textdomain]

# wmllint: directory spellings Gwiti Morgorath

[campaign]
    id="The_Dark_Hordes"
    abbrev= _ "TDH"
    name= _ "The Dark Hordes"
    define=CAMPAIGN_THE_DARK_HORDES
    first_scenario="01_A_New_Chance"
    difficulties=EASY,NORMAL,HARD
    difficulty_descriptions={MENU_IMG_TXT2 ("units/undead-necromancers/adept.png~RC(magenta>red)") (_"Apprentice") _"(easy)"} +
    ";*" + {MENU_IMG_TXT2 ("units/undead-necromancers/dark-sorcerer.png~RC(magenta>red)") (_"Master") _"(normal)"} +
    ";" + {MENU_IMG_TXT2 ("units/undead-necromancers/lich.png~RC(magenta>red)") (_"Dark Lord") _"(hard)"}
    description= _ "Lead fugitive dark sorcerer Gwiti Ha'atel to mastery of the undead hordes."+"

"+_"(8 levels completed.)"+"

<128,128,128>"+_"Version:"+" {@campaigns/The_Dark_Hordes/metatags/VERSION}"+"
<128,128,128>"+_"(for Battle for Wesnoth 1.4.x)"
    icon="units/undead/shadow-s-3.png~RC(magenta>red)"
    image="items/coffin-closed.png"
    {@campaigns/The_Dark_Hordes/about.cfg}
[/campaign]

#ifdef CAMPAIGN_THE_DARK_HORDES
[binary_path]
    path=data/campaigns/The_Dark_Hordes
[/binary_path]

# wmlindent: start ignoring
#define INCLUDE_GLOBAL _P_INC_PATH
    {{_P_INC_PATH}} #enddef
#define INCLUDE_LOCAL _P_INC_PATH
    {~campaigns/The_Dark_Hordes/{_P_INC_PATH}} #enddef
# wmlindent: stop ignoring

{INCLUDE_LOCAL /base-utils}
{INCLUDE_LOCAL /utils     }

[+units]
    {INCLUDE_LOCAL /units }
[/units]

{INCLUDE_LOCAL /scenarios }
#endif
